* {
    margin: 0;
    padding: 0;
}

html, body { font-size: 16px; }

.header1 { margin-bottom: 15px; }
.header1 img { width: 100%; }

.navbar {
    padding: 5px;
    background: url("../static/nav-line.png") no-repeat center bottom;
    background-size: 100%;
}

@media screen and (max-width: 768px) {
    .navbar li {
        height: 30px;
        padding: 5px 5px 0;
    }
}
@media screen and (min-width: 769px) {
    .navbar li {
        height: 30px;
        padding: 5px 5px 0;
        margin: 0 2vw;
    }
}

.navbar li:hover, .navbar li.cur {
    background: url("../static/nav-circle.png") no-repeat center center;
    background-size: 100% 100%;
}

.footer { font-size: 0.9rem; }
.footer img { width: 100%; margin-top: -6vw; }